<?xml version="1.0" encoding="utf-8"?>

<launch>
  
  <arg name="respawn_value" default="false" /> <!-- boolean: true, false -->
    
  <!-- Bag file path -->  
<!--   <arg name="bag_file" value="$(env HOME)/.segmap/kitti/2011_09_30_drive_18.bag"/> -->
  <arg name="bag_file" value="/media/nikhilesh/Nikhilesh/SemSegMap/Bags/KITTI/2011_09_30_drive_18.bag"/>
  <rosparam param="LaserMapper/bag_file" subst_value="True">$(arg bag_file)</rosparam>

  <!-- Rviz visualization config file path -->
  <arg name="rviz_config_file" value="/media/nikhilesh/Nikhilesh/SemSegMap/Bags/KITTI/kitti_loop_closure.rviz"/>

  <!-- ROS parameters -->
  <rosparam>use_sim_time: false</rosparam>

  <rosparam command="load" file="$(find segmapper)/launch/kitti/kitti_loop_closure.yaml"/>
  

  <!-- rviz node -->
  <node name="visualizer" pkg="rviz" type="rviz" output="screen" respawn="$(arg respawn_value)" args="-d $(arg rviz_config_file)" />
  
  <!-- rosbag player node -->
  <node name="player" pkg="rosbag" type="play" output="screen" args=" -r 1 -s 0 --clock --pause $(arg bag_file)"/>

    <!-- segmapper node -->
  <include file="$(find segmapper)/launch/segmapper.launch">
    <arg name="icp_configuration_file" value="$(find segmapper)/launch/kitti/icp_dynamic_outdoor.yaml"/>
    <arg name="icp_input_filters_file" value="$(find segmapper)/launch/kitti/input_filters_outdoor.yaml"/>
  </include>
	
</launch>
