<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="bag_file" value="/media/nikhilesh/Nikhilesh/SemSegMap/Bags/BOSCH/train-map-augmented.bag"/>
  <node name="player" pkg="rosbag" type="play" output="screen" args=" -r 50 -s 0 --topics /tf --clock --pause $(arg bag_file)"/>

  <rosparam>use_sim_time: true</rosparam>

  <node name="tf_drift" pkg="noiser" type="tf_drift" output="screen">
    <param name="enable_drift" type="bool" value="true"/>
    <param name="tf_rate" type="double" value="15.0"/>
    <param name="odom_drift_frame" type="string" value="world_drift"/>
  	<param name="odom_frame" type="string" value="world"/>
    <param name="baselink_frame" type="string" value="airsim_drone"/>
    <param name="baselink_drift_frame" type="string" value="airsim_drone_drift"/>
    <param name="noise_x_mean" type="double" value="0.0"/>
    <param name="noise_x_stddev" type="double" value="0.001"/>
    <param name="noise_y_mean" type="double" value="0.0"/>
    <param name="noise_y_stddev" type="double" value="0.0"/>
    <param name="noise_z_mean" type="double" value="0.0"/>
    <param name="noise_z_stddev" type="double" value="0.0"/>
    <param name="noise_yaw_mean" type="double" value="0.0"/>
    <param name="noise_yaw_stddev" type="double" value="0.001"/>
    <param name="noise_attitude_mean" type="double" value="0.0"/>
    <param name="noise_attitude_stddev" type="double" value="0.0"/>
  </node>

</launch>
